
{% assign map = site.data.maps[page.map.id] %}

<div id="map"></div>
<script type="text/javascript">
  var map = L.map( 'map' ).setView([

      // setLat 初期表示の緯度
      {% if page.map.setLat %}
      {{ page.map.setLat }}
      {% elsif map.setLat %}
      {{ map.setLat }}
      {% else %}
      0
      {% endif %},
      
      // setLat 初期表示の経度
      {% if page.map.setLng %}
      {{ page.map.setLng }}
      {% elsif map.setLng %}
      {{ map.setLng }}
      {% else %}
      0
      {% endif %}
  ],
      // 初期表示のズームレベル
      {% if page.map.setZoom %}
      {{ page.map.setZoom }}
      {% elsif map.setZoom %}
      {{ map.setZoom }}
      {% else %}
      {{ map.maxZoom }}
      {% endif %});

  L.tileLayer('{{ map.path }}', {
      attribution: '<a href="{{ map.href | uri_escape }}">{{ map.caption | xml_escape }}</a>',
      minZoom: {{ map.minZoom }},
      maxZoom: {{ map.maxZoom }},
      errorTileUrl: '/tiles/_/none.png'
  }).addTo(map);
</script>
