/***********************************************************************
  3. モジュール
***********************************************************************/

/*----- ヘッダ -----*/
header{
    line-height: 40px;

    a{
	text-decoration: none;
	color: white;
	font-size: 18px;
    }
}

/*----- メイン -----*/
main{

    #date{
	small{
	    font-size: 0.66em;
	}
    }

    article{
	line-height: 1.7;
	
	/* 一般要素 */
	h1, h2, h3, h4, h5, h6,
	p, blockquote, pre, hr,
	dl, ol, ul {
	    margin: 0.45rem 0;
	}

	/* 水平線 */
	hr{
	    border:{
		top: 3px double #ddd;
		bottom: 1px double #eee;
		right: 0;
		left: 0;
	    }
	    margin: 1rem 0;
	}
    
	/* 見出し */
	h1{
	    font-size: 1.75rem;
	    border-bottom: 2px #ddd solid;
	    padding: 0.1em 0;
	    margin: 0.4em 0 0.3em;
	}
	h2{
	    font-size: 1.5rem;
	    border-bottom: 1px #ccc solid;
	    padding: 0.1em 0;
	    margin: 0.4em 0 0.3em;
	}
	h3{
	    font-size: 1.3rem;
	    margin: 0.3em 0;
	}
	h4{
	    font-size: 1.2rem;
	}
	h5{
	    font-size: 1.1rem;
	}
	h6{
	    font-size: 1.0rem;
	}
    
	/* 段落 */
	p{
	    margin-left: 0.25em;
	    text-indent: 1em;
	    img{
		max-width: 600px - 17px * 1.25 ;
	    }
	}
	
	/* 引用 */
	blockquote{
	    border-left: 0.4rem solid #ddd;
	    border-right: 0.4rem solid #ddd;
	    padding: 0.2rem 0.6rem ;
	    background-color: #eee;
	    pre, code, tt{
		background-color: #e0e0e0;
	    }
	}
	
	/* リスト要素 */
	ul, ol, dd{
	    margin:{
		left: 3.25rem;
		top: 0.45rem;
		bottom: 0.75rem;
	    }
	    ul, ol, dl{
		margin: 0.075rem 0 0.075rem 1.75rem;
	    }
	}
	
	/* コード・整形済テキスト */
	code{
	    background-color: #eee;
	    font-size: 0.9em;
	    padding: 0.05em 0.4em;
	}
	pre{
	    background-color: #eee;
	    font-size: 1.0em;
	    line-height:1.45;
	    padding: 0.6em 1.2em;
	    margin: 0.75em 0.1em;
	    overflow: auto;
	    code{
		padding: 0;
	    }
	}

	/* テーブル */
	table{
	    border-collapse: collapse;
	    margin: 0.75rem 0 0.75rem 1.5rem;
	    th, td{
		padding: 0.3em 0.5em;
		border: 1px solid #ccc;
	    }
	}
	tr:nth-child(odd){
	    th, td {
		background-color: #eee;   /* 奇数行の背景色 */
		pre, code, tt{
		    background-color: #ddd;
		}
	    }
	}
	tr:nth-child(even){
	    th, td {
		background-color: none;   /* 偶数行の背景色 */
	    }
	}

	/* リンク */
	a{
	    text-decoration: none;
	    color: #03f;
	}
	a:hover{
	    text-decoration: underline;
	}
	a:visited{
	    color: #93c;
	}
    }
}

/*----- サイドバー -----*/
aside{

    a{
	color: white;
	text-decoration: none;
    }
    a:hover{
	background-color: #666;
    }
    ul{
	list-style: none;
    }
    hr{
	margin: 5px 2px;
    }
}

/*----- フッタ -----*/
footer{
    #copyright{
	font-size:12px;
    }
    #site-description{
	font-size:12px;
    }
}
