/***********************************************************************
  0. 全体設定
***********************************************************************/

/* Webフォント */
@font-face {
  font-family: 'gagagaga';
  src: url('/assets/fonts/GAGAGAGA-FREE.woff') format('woff');
}

/* 全体設定 */
body{
    font:{
	family: 'Noto Sans JP', -apple-system;
	size: 16px;
	weight: 300;
    }
    img{
	max-width: 100%;
    }
}

/***********************************************************************
  1. レイアウト
***********************************************************************/

.container{
    display: flex;
    justify-content: space-between;

    header, .box-left{
	width: 32px;
	background-color: black;
	text-align: center;
	color: white;
	font-family: 'gagagaga';
    }

    main, .box-main{
	margin: 0 auto;
	min-width: 600px;
	max-width: 600px;
	width: 600px;
    }

    aside, .box-right{
	padding-top: 10px;
	min-width: 180px;
	max-width: 180px;
	width: 180px;
	background-color: black;
	color: white;
    }	
}

footer{
    background-color: #eee;
}
/***********************************************************************
  2. ブロック
***********************************************************************/

main{
    /*----- date -----*/
    #date{
	font-family: 'Lobster', cursive;
	font-size: 40px;
	text-align: center;
	margin: 10px 0;
    }

    /*----- title -----*/
    #title{
	margin: 15px 0;
	text-align: center;
	font-size: 36px;
    }

    /*----- map -----*/
    #map{
	height: 250px;
	margin: 10px 0;
    }

    /*----- 記事 -----*/
    article{
	margin: 15px 0 4em ;
    }
}

aside{
    font-size: 14px;

    h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p{
	margin: 0;
	padding: 0;
    }

    a.button{
	display: block;
	border-width: 0 /*5px*/;
	padding: 3px 5px 3px 10px;
    }
}

footer{

    .box-main{
	padding: 20px 0 120px;
	display: grid;
	grid-template-columns: 1fr 1fr ;

	div{
	    a{
		text-decoration: none;
		color: black;
	    }
	    h2{
		font-family: 'gagagaga';
		font-size: 20px;
		margin-bottom: 0.2rem;
	    }
	    h3{
		font-size: 1rem ;
		font-weight: 400 ;
		margin-left: 2em ;
	    }
	    .date{
		margin: 1rem 0 0 6px ;
		font-size: 14px;
	    }
	}
    
	div{
	    ul{
		list-style: none;
	    }
	}
    }

    
    svg{
	width:1em;
    }
}


/***********************************************************************
  3. Molecules
***********************************************************************/

/*----- ヘッダ -----*/
header{
    line-height: 40px;

    a{
	text-decoration: none;
	color: white;
	font-size: 18px;
    }
}

/*----- メイン -----*/
main{

    #date{
	small{
	    font-size: 0.66em;
	}
    }

    article{
	line-height: 1.7;
	
	/* 一般要素 */
	h1, h2, h3, h4, h5, h6,
	p, blockquote, pre, hr,
	dl, ol, ul {
	    margin: 0.45rem 0;
	}

	/* 水平線 */
	hr{
	    border-top: 2px dashed #ccc;
	}
    
	/* 見出し */
	h1{
	    font-size: 1.75rem;
	    border-bottom: 2px #ddd solid;
	    padding: 0.1em 0;
	    margin: 0.4em 0 0.3em;
	}
	h2{
	    font-size: 1.5rem;
	    border-bottom: 1px #ccc solid;
	    padding: 0.1em 0;
	    margin: 0.4em 0 0.3em;
	}
	h3{
	    font-size: 1.3rem;
	    margin: 0.3em 0;
	}
	h4{
	    font-size: 1.2rem;
	}
	h5{
	    font-size: 1.1rem;
	}
	h6{
	    font-size: 1.0rem;
	}
    
	/* 段落 */
	p{
	    margin-left: 0.25em;
	    text-indent: 1em;
	    img{
		max-width: 600px - 17px * 1.25 ;
	    }
	}
	
	/* 引用 */
	blockquote{
	    border-left: 5px solid #ccc;
	    padding-left: 12px;
	}
	
	/* リスト要素 */
	ul, ol, dd{
	    margin:{
		left: 3rem;
		top: 0.75rem;
		bottom: 0.75rem;
	    }
	    ul, ol, dl{
		margin: 0.075rem 0 0.075rem 1.75rem;
	    }
	}
	
	/* コード・整形済テキスト */
	code{
	    background-color: #eee;
	    font-size: 0.9em;
	    padding: 0.05em 0.4em;
	}
	pre{
	    background-color: #eee;
	    font-size: 1.0em;
	    line-height:1.45;
	    padding: 0.6em 1.2em;
	    margin: 0.75em 0.1em;
	    overflow: auto;
	    code{
		padding: 0;
	    }
	}

	/* テーブル */
	table{
	    border-collapse: collapse;
	    th, td{
		padding: 0.3em 0.5em;
		border: 1px solid #ccc;
	    }
	}
	tr:nth-child(odd){
	    th, td {
		background-color: #eee;   /* 奇数行の背景色 */
	    }
	}
	tr:nth-child(even){
	    th, td {
		background-color: none;   /* 偶数行の背景色 */
	    }
	}

	/* リンク */
	a{
	    text-decoration: none;
	    color: #03f;
	}
	a:hover{
	    text-decoration: underline;
	}
	a:visited{
	    color: #93c;
	}
    }
}

/*----- サイドバー -----*/
aside{

    a.button{
	color: white;
	text-decoration: none;
	border-color: black;
	border-style: solid;
    }
    a.button:hover{
	border-color: #999;
	background-color: #666;
    }
    ul{
	list-style: none;
    }
}
