---
layout: default
---

<div class="home">

  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <p class="post-meta">時刻 / {{ site.time | date: "%Y-%m-%d %T" }} / 時点で言いたいことはこれなんだ：</p>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

  </article>

  
  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
