<!DOCTYPE html>
<html lang="ja">
  <head>

    <!-- 文字コード -->
    <meta charset="utf-8">

    <!-- タイトル -->
    <title>{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}</title>
    
    <!-- 概要説明 -->
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- ファビコン -->
    <link rel="icon" type="text/png" href="/favicon.ico">
    
    <!-- リセット CSS -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    
    <!-- Leaflet, D3 -->
    <link rel="stylesheet" href="/assets/lib/leaflet/leaflet.css" />
    <script type="text/javascript" src="/assets/lib/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="/assets/lib/d3/d3.v3.min.js"></script>

    <!-- Webフォント (Google Fonts) -->
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap" rel="stylesheet">

    <!-- このサイトのCSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">

  </head>

  <!--========== BODY はじまりはじまり〜 ==========-->
  <body>

    <div class="container">

      <header class="box-left">
	<h1><a href="/">イ<br>ズ<br>イ<br>ノ<br>イ<br>チ<br>バ<br>ン<br>イ<br>イ<br>タ<br>イ<br>コ<br>ト</a></h1>
      </header>

      <!--=== メイン ===-->
      <main class="box-main">
      
	<!-- 日付 -->
	<div id="date">
	  {% if page.date %}
	  {{ page.date | date: "%b %d" }}
	  <small>{{ page.date | date: "%a. %Y" }}</small>
	  {% else %}
	  {{ site.time | date: "%b %d" }}
	  <small>{{ site.time | date: "%a. %Y" }}</small>
	  {% endif %}
	</div>

	<!-- title -->
	{% if page.title %}
	<h1 id="title">{{ page.title }}</h1>
	{% endif %}

	<!-- map -->
	{% if page.map %}
	{% include map.html %}
	{% endif %}
	
	<!-- wikimedia -->
	{% if page.wikimedia %}
	{% include wikimedia.html %}
	{% endif %}
	
	<!-- article -->
	<article>

	  <!-- 記事本体 -->
	  {{ content }}

	</article>

      </main>
      
      <!--=== サイドバー ===-->
      <aside class="box-right">

	<!-- Wiki Updates -->
	<div class="wiki-updates">

	  <!-- title -->
	  <h2><a class="button" href="https://github.com/izudon/izudon.github.io/wiki/">Wiki</a></h2>

	  <!-- items -->
	  <ul>
	    {% for wiki in site.data.wiki %}
	    <li>
	      <a class="button" href="https://github.com/izudon/izudon.github.io/wiki/{{ wiki.name | url_encode }}">
		<div class="date">{{ wiki.date }}</div>
		<h3>{{ wiki.name }}</h3>
	      </a>
	    </li>
	    {% endfor %}
	  </ul>

	</div>

	<!-- Horizontal Line -->
	<hr style="margin: 5px 2px;">
	
	<!-- Site Updates -->
	<div class="site-updates">

	  <h2><a class="button" href="{{ "/feed.xml" | prepend: site.baseurl }}">Posts <small>via RSS</small></a></h2>

	  <ul>
	    {% for post in site.posts %}
	    <li>
	      <a class="button" href="{{ post.url | prepend: site.baseurl }}">
		<div class="date">{{ post.date | date: "%b %-d, %Y" }}</div>
		<h3>{{ post.title }}</h3>
	      </a>
	    </li>
	    {% endfor %}
	  </ul>

	</div>

	
      </aside>

    </div>

    
    <!--=== フッタ部 ===-->
    <footer class="container">

      <!-- Left Black Area -->
      <div class="box-left"></div>

      <!-- Main Area -->
      <div class="box-main">

	<div><a href="/">
	  <h2>{{ site.title }}</h2>
	  <h3>また明日！</h3>

	  <p class="date">
	    {% if page.date %}
	    {{ page.date | date_to_xmlschema }}
	    {% else %}
	    {{ site.time | date_to_xmlschema }}
	    {% endif %}
	  </p>

	</a></div>
	
	<div>
	  
	  <div>
            <p>{{ site.description }}</p>
	  </div>

	  <div>
            <ul>
              {% if site.github_username %}
              <li>
		{% include icon-github.html username=site.github_username %}
              </li>
              {% endif %}
	      
              {% if site.twitter_username %}
              <li>
		{% include icon-twitter.html username=site.twitter_username %}
              </li>
              {% endif %}
            </ul>
	  </div>

	</div>
	
      </div>

      <!-- Right Black Area -->
      <div class="box-right"></div>

    </footer>

  </body>

</html>
