<!DOCTYPE html>
<html lang="ja">
  <head>

    <!-- 文字コード -->
    <meta charset="utf-8">

    <!-- タイトル -->
    <title>{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}</title>
    
    <!-- 概要説明 -->
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- ファビコン -->
    <link rel="icon" type="text/png" href="/favicon.ico">
    
    <!-- リセット CSS -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    
    <!-- Leaflet, D3 -->
    <link rel="stylesheet" href="/assets/lib/leaflet/leaflet.css" />
    <script type="text/javascript" src="/assets/lib/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="/assets/lib/d3/d3.v3.min.js"></script>

    <!-- Webフォント (Google Fonts) -->
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap" rel="stylesheet">

    <!-- このサイトのCSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">

  </head>

  <!--========== BODY はじまりはじまり〜 ==========-->
  <body>

    <div class="container">

      <header>
	<h1><a href="/">イ<br>ズ<br>イ<br>ノ<br>イ<br>チ<br>バ<br>ン<br>イ<br>イ<br>タ<br>イ<br>コ<br>ト</a></h1>
      </header>

      <!--=== メイン ===-->
      <main>
      
	<!-- 日付 -->
	<div id="date">
	  {% if page.date %}
	  {{ page.date | date: "%b %d" }}
	  <small>{{ page.date | date: "%a. %Y" }}</small>
	  {% else %}
	  {{ site.time | date: "%b %d" }}
	  <small>{{ site.time | date: "%a. %Y" }}</small>
	  {% endif %}
	</div>

	<!-- title -->
	{% if page.title %}
	<h1 id="title">{{ page.title }}</h1>
	{% endif %}

	<!-- map -->
	{% if page.map %}
	{% include map.html %}
	{% endif %}
	
	<!-- article -->
	<article>

	  <!-- 記事本体 -->
	  {{ content }}

	</article>

      </main>
      
      <!--=== サイドバー ===-->
      <aside>

	<!-- Wiki Updates -->
	<div class="wiki-updates">

	  <!-- title -->
	  <h2><a class="button" href="https://github.com/izudon/izudon.github.io/wiki/">Wiki</a></h2>

	  <!-- items -->
	  <ul>
	    {% for wiki in site.data.wiki %}
	    <li>
	      <a class="button" href="https://github.com/izudon/izudon.github.io/wiki/{{ wiki.name | url_encode }}">
		<div class="date">{{ wiki.date }}</div>
		<h3>{{ wiki.name }}</h3>
	      </a>
	    </li>
	    {% endfor %}
	  </ul>

	</div>
	
	<!-- Site Updates -->
	<hr style="margin: 5px 0">
	<div>
<!--
	  <h2 class="page-heading">Posts</h2>
-->
	  <ul class="post-list">
	    {% for post in site.posts %}
	    <li>
	      <a class="button" href="{{ post.url | prepend: site.baseurl }}">
		<div class="date">{{ post.date | date: "%b %-d, %Y" }}</div>
		<h3>{{ post.title }}</h3>
	      </a>
	    </li>
	    {% endfor %}
	  </ul>
	</div>

	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

      </aside>

    </div>
    
    <!--=== フッタ部 ===-->
    <footer class="site-footer">

      <div class="wrapper">

	<h2 class="footer-heading">{{ site.title }}</h2>
	
	<div class="footer-col-wrapper">

	  <div class="footer-col footer-col-1">
            <ul class="contact-list">
              <li>{{ site.title }}</li>
              <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            </ul>
	  </div>
	  
	  <div class="footer-col footer-col-2">
            <ul class="social-media-list">
              {% if site.github_username %}
              <li>
		{% include icon-github.html username=site.github_username %}
              </li>
              {% endif %}
	      
              {% if site.twitter_username %}
              <li>
		{% include icon-twitter.html username=site.twitter_username %}
              </li>
              {% endif %}
            </ul>
	  </div>

	  <div class="footer-col footer-col-3">
            <p>{{ site.description }}</p>
	  </div>

	</div>
	
      </div>

    </footer>

  </body>

</html>
