<!DOCTYPE html>
<html lang="ja">
  <head>

    <!-- 文字コード -->
    <meta charset="utf-8">

    <!-- タイトル -->
    <title>{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}</title>
    
    <!-- 概要説明 -->
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- ファビコン -->
    <link rel="icon" type="text/png" href="/favicon.ico">
    
    <!-- リセット CSS -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    
    <!-- Leaflet, D3 -->
    <link rel="stylesheet" href="/assets/lib/leaflet/leaflet.css" />
    <script type="text/javascript" src="/assets/lib/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="/assets/lib/d3/d3.v3.min.js"></script>

    <!-- Webフォント (Google Fonts) -->
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap" rel="stylesheet">

    <!-- このサイトのCSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">

  </head>

  <!--========== BODY はじまりはじまり〜 ==========-->
  <body>

    <!--=== メイン ===-->
    <main class="wrapper">
      
      <!--=== 記事 ===-->
      <article>

	<!-- 日付 -->
	<header>
	  <div class="title title-left">イズイノ<br>イマ</div>
	  <div class="date">
	    {{ site.time | date: "%b %d" }}
	    <small>{{ site.time | date: "%a. %Y" }}</small>
	  </div>
	  <div class="title title-right">イイタイ<br>コト</div>
	</header>

	<!-- Leaflet contents -->
	{% if page.map %}
	{% include map.html %}
	{% endif %}

	<!-- 記事本体 -->
	{{ content }}

      </article>

    
      <!--=== サイドバー ===-->
      <aside>

	<!-- Wiki Updates -->
	<div class="wiki-updates">
<!--
	  <h2><a href="https://github.com/izudon/izudon.github.io/wiki/">Wiki Updates</a></h2>
-->
	  <ul>
	    {% for wiki in site.data.wiki %}
	    <li>
	      <a href="https://github.com/izudon/izudon.github.io/wiki/{{ wiki.name | url_encode }}">
		<div class="date">{{ wiki.date }}</div>
		<h3>{{ wiki.name }}</h3>
	      </a>
	    </li>
	    {% endfor %}
	  </ul>
	</div>
	
	<!-- Site Updates -->
	<hr style="margin: 5px 0">
	<div>
<!--
	  <h2 class="page-heading">Posts</h2>
-->
	  <ul class="post-list">
	    {% for post in site.posts %}
	    <li>
	      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
		<div class="date">{{ post.date | date: "%b %-d, %Y" }}</div>
		<h3>{{ post.title }}</h3>
	      </a>
	    </li>
	    {% endfor %}
	  </ul>
	</div>

	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

      </aside>

    </main>
    
    <!--=== フッタ部 ===-->
    {% include footer.html %}


  </body>

</html>
